<section class="content">
    <h2 style="text-align: center;">Registro De Asignaturas</h2>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="box-body">
            <div class="form-group">
              <label for="codAsignatura">Codigo Asignatura:</label>
              <input formControlName="codAsignatura" placeholder="Codigo asignatura" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.codAsignatura.errors}" type="text">
              <div *ngIf="submitted && control.codAsignatura.errors"  class="invalid-feedback">
                <div *ngIf="control.codAsignatura.errors.required">
                  Se require un codigo de asignatura
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Identificacion Docente</label>
              <input formControlName="identificacionD" placeholder="Identificacion docente" [ngClass]="{ 'is-invalid': submitted && control.identificacionD.errors}" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-body">
            <div class="form-group">
              <label for="nombreAsignatura">Nombre Asignatura:</label>
              <input formControlName="nombreAsignatura" placeholder="Nombre asignatura" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.nombreAsignatura.errors}"  type="text">
              <div *ngIf="submitted && control.nombreAsignatura.errors"  class="invalid-feedback">
                <div *ngIf="control.nombreAsignatura.errors.required">
                  Se require un nombre de asignatura
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Nombre Docente</label>
              <input class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-12"><br></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button class="btn btn-primary form-control" type="submit">Registrar</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-danger form-control" type="reset" (click)="onReset()">Cancelar</button>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Asignaturas</h3>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="box-body">
                  <div class="input-group">
                    <input placeholder="Buscar" class="form-control"  [(ngModel)]="searchText" name="searchText" formControlName = "searchText">
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body">
              <table id="tableAsignaturas" class="table table-bordered table-striped">
                <thead>
                  <tr style="text-align:center">
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Identificacion Docente</th>
                    <th>Nombre Docente</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="text-align:center" *ngFor="let asignatura of asignaturas|filtroAsignatura:searchText;index as i">
                    <td scope="row">{{ i + 1}}</td>
                    <td>{{asignatura.codAsignatura}}</td>
                    <td>{{asignatura.nombreAsignatura}}</td>
                    <td>{{asignatura.identificacionD}}</td>
                    <td>{{asignatura.nombreD}}</td>
                    <td><a class="btn btn-primary btn-edit"><i class="fa fa-edit"></i></a></td>
                    <td><a class="btn btn-danger btn-delete"><i class="fa fa-minus-square"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
</section>
