<section class="section">
    <div class="login-box">
        <div class="login-logo">
            <a><b>UPC-</b>LAB</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Iniciar Sesión</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <input class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" type="text" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-4">
                            <button [disabled]="loading" type="submit" class="btn btn-primary btn-block">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Ingresar
                            </button>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
